footer {
  bottom: 0;
  width: 100%;
}

.nav-link {
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  //text-decoration: underline;
}

.seaport-footer {
  height: 81px;
  top: 3559px;
  padding: 24px 80px 24px 80px;
  gap: 10px;
  background: #1E5D6E;
}

.separateur {
  height: 22px;
  border: 1px solid #DFF0FF
}

.footer-title {
  font-family: Lora;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
}

.footer-subtitle {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
}
