<!-- footer.component.html -->
<footer class="text-white seaport-footer py-3">
  <div class="footer-title">SEAPORT engineering</div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link text-white" href="#home">Accueil</a>
      </li>
      <span class="separateur"></span>
      <li class="nav-item">
        <a class="nav-link text-white" href="#realisations">Ns réalisations</a>
      </li>
      <span class="separateur"></span>
      <li class="nav-item">
        <a class="nav-link text-white" href="#contact">Nous contacter</a>
      </li>
      <span class="separateur"></span>
      <li class="nav-item">
        <a class="nav-link text-white">Mentions légales</a>
      </li>
      <span class="separateur"></span>
      <li class="nav-item">
        <a class="nav-link text-white">CGU</a>
      </li>
    </ul>
</footer>
