<!-- footer.component.html -->
<footer class="text-white seaport-footer py-3 d-flex align-items-center justify-content-between">
  <div class="footer-title">SEAPORT engineering</div>
  <div class="d-flex flex-row align-items-center">
    <a class="nav-link text-white" href="#home">Accueil</a>
    <span class="separateur"></span>
    <a class="nav-link text-white" href="#realisations">Nos réalisations</a>
    <span class="separateur"></span>
    <a class="nav-link text-white" href="#contact">Nous contacter</a>
    <span class="separateur"></span>
    <a class="nav-link text-white">Mentions légales</a>
    <span class="separateur"></span>
    <a class="nav-link text-white">CGU</a>
    <span class="separateur"></span>
  </div>
</footer>
