<h1>CONTACT</h1>
<p>Get in touch with us here.</p>
<form>
  <div>
    <input type="text" id="name" name="name" required placeholder="Nom">
  </div>
  <div>
    <input type="text" id="prenom" name="prenom" required placeholder="Prénom">
  </div>
  <div>
    <input type="email" id="email" name="email" required placeholder="Email">
  </div>
  <div>
    <input type="text" id="objet" name="email" required placeholder="Objet">
  </div>
  <div>
    <textarea id="message" name="message" required placeholder="Décrivez votre projet" rows="5"></textarea>
  </div>
  <button type="submit" class="home-button">Envoyer la demande</button>
</form>
