<!--    <div class="background-image"></div>-->
    <div class="d-flex flex-row justify-content-center contact">
        <div class="contact-spacing">
            <div class="contact-title">Contactez-nous</div>
            <div class="contact-subtitle">Get in touch with us here.</div>
        </div>
        <div>
            <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
                <div>
                    <input type="text" formControlName="nom" name="name" required placeholder="Nom">
                </div>
                <div>
                   <input type="text" formControlName="prenom" name="prenom" required placeholder="Prénom">
                </div>
                <div>
                    <input type="email" formControlName="email" name="email" required placeholder="Email">
                </div>
                <div class="select-size">
                    <select id="country" class="form-select d-flex w-100" formControlName="country" >
                        <option value="" disabled selected>Pays</option>
                        <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                    </select>
                </div>
                <div>
                    <input type="text" formControlName="objet" name="objet" required placeholder="Objet">
                </div>
                <div>
                    <textarea formControlName="message" name="message" required placeholder="Décrivez votre projet" rows="4"></textarea>
                </div>
                <button type="submit" class="home-button" [disabled]="contactForm.invalid">Envoyer la demande</button>
            </form>
        </div>
    </div>
