<div class="d-flex flex-row justify-content-center">
    <div class="contact-spacing">
        <div class="contact-title">Contactez-Nous</div>
        <div class="contact-subtitle">Get in touch with us here.</div>
    </div>
    <div>
        <form>
            <div>
                <input type="text" id="name" name="name" required placeholder="Nom">
            </div>
            <div>
               <input type="text" id="prenom" name="prenom" required placeholder="Prénom">
            </div>
            <div>
                <input type="email" id="email" name="email" required placeholder="Email">
            </div>
            <div>
                <input type="text" id="objet" name="email" required placeholder="Objet">
            </div>
            <div>
                <textarea id="message" name="message" required placeholder="Décrivez votre projet" rows="4"></textarea>
            </div>
            <button type="submit" class="home-button">Envoyer la demande</button>
        </form>
    </div>
</div>
