form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

div {
  margin-bottom: 15px;
}

.contact {
  &-title {
     font-family: Lora;
     font-size: 46px;
     font-weight: 700;
     color: #112136;
   }
   &-subtitle {
     font-family: Roboto;
     font-size: 18px;
     font-weight: 400;
     color: #112136;
   }
    &-spacing {
        margin-right: 50px;
    }
}

input, textarea {
  width: 659px;
  padding: 16px;
  gap: 10px;
  box-sizing: border-box;
  border: 1px solid #EDEFF0
}

button {
  width: 175px;
  height: 51px;
  gap: 10px;
  color: #FFFFFF;
  background-color: #216941;
  margin-top: 20px;
}


:host {
  display: block;
  width: 100%;
  background-color: transparent;
}
