.project-title {
    margin-top: 50px;
    font-family: Lora;
    font-size: 46px;
    font-weight: 700;
}

.projet-image-box {
    position: relative;
    width: 660px;
    height: 441px;
    box-shadow: 2px 3px 13px 0px #11213666;
    border-radius: 8px;
    overflow: hidden; /* Pour que l'image reste à l'intérieur de la boîte */
}

.image_1 {
    background-image: url('../../assets/projet_realisé.png'); /* Chemin vers votre image de fond */
}

.title {
    padding: 20px;
    position: absolute;
    color: white;
    font-family: Rubik;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.subtitle {
    //position: absolute;

    color: white;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    text-align: left;

    &-text {
        font-family: Roboto;
        font-weight: 600;
    }
}

.projet-cursor {
    display: inline-block;
    transform: rotate(90deg);
    cursor: pointer;
}

.projet-image-box2 {
    position: relative;
    width: 660px;
    height: 215px;
    box-shadow: 2px 3px 13px 0px #11213666;
    border-radius: 8px;
    overflow: hidden; /* Pour que l'image reste à l'intérieur de la boîte */
}

.projet-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
}

.projet-overlay h3 {
    margin: 0;
}

.projet-link {
    align-self: flex-end;
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    background-color: green;
    border-radius: 50%;
}

.projet-cursor {
    display: inline-block;
    transform: rotate(90deg);
}

.image_2 {
    background-image: url('../../assets/projet_realisé_2.png'); /* Chemin vers votre image de fond */
}

.image_3 {
    background-image: url('../../assets/projet_realisé_3.png'); /* Chemin vers votre image de fond */
}

.image_geo {
    background-image: url('../../assets/geo.png'); /* Chemin vers votre image de fond */
}

.geo {
    width: 1344px;
    height: 492px;
}


