<div class="d-flex flex-column align-items-center">
    <div class="service-title mb-2">Nos services</div>
    <div class="service-subtitle mb-2">Nous intervenons essentiellement en qualité de Maitre d'œuvre au sens de la loi MOP sur les projets en France ou d'Ingénieur au sens des Livres FIDIC à l'étranger.</div>
    <div class="realisations-container">
        <div class="image-box image_fluviaux">
            <div class="image-overlay"></div>
            <div class="title">Projets fluviaux</div>
            <div class="description">
                <div class="description-title">Projets fluviaux</div>
                <div>Dans le cadre de notre activité "fluviale", nous accompagnons notamment les collectivités territoriales qui souhaitent reprendre possession de leurs cours d'eau en y développant des modes de transports collectifs alternatifs ou développer leur offre des tourisme...</div>
                <a href="#" class="link">Découvrir nos réalisations</a>
            </div>
        </div>
        <div class="image-box image_maritimes">
            <div class="image-overlay"></div>
            <div class="title">Projets maritimes</div>
            <div class="description">
                <div class="description-title">Projets maritimes</div>
                <div>Nous mettons à la disposition de nos client privés et publics, notre expertise des travaux maritimes, et les accompagnons de la conception jusqu'à la réalisation de leurs projets  de création, d'extension ou de réhabilitation d'ouvrages d'accostage, que ce soit pour des bateaux de commerce, de pêche ou de plaisance</div>
                <a href="#" class="link">Découvrir nos réalisations</a>
            </div>
        </div>
        <div class="image-box image_grand">
            <div class="image-overlay"></div>
            <div class="title">Grands projets</div>
            <div class="description">
                <div class="description-title">Grands projets</div>
                <div>Notre structure modeste, ne nous a jamais empêché historiquement d'intervenir sur des projets d'envergure, notamment à l'international ou notre réseau de bureaux partenaires et d'experts indépendants nous permet de répondre au mieux aux attentes des Client qui nous accordent leur confiance.</div>
                <a href="#" class="link">Découvrir nos réalisations</a>
            </div>
        </div>
    </div>
    <div>
        <button class="service-button mb-2">Découvrir toutes nos réalisations</button>
    </div>
</div>

