.home {
  &-image {
    width: 660px;
    height: 442px;
    top: 152px;
    left: 48px;
    border-radius: 8px;
    background-image: url('../../assets/home-port-image.png'); /* Chemin vers votre image de fond */

  }

  &-title {
    font-family: Lora;
    font-size: 46px;
    font-weight: 700;
  }

  &-sizing {
    max-width: 660px;
    margin-left: 675px;

  }

  &-subtitle {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    color: #112136;
  }

  &-button {
    width: 175px;
    height: 51px;
    gap: 10px;
    color: white;
    background-color: #216941;
    text-align: center;
    display: inline-block;
    line-height: 51px; /* Vertically centers the text */
    text-decoration: none;
  }
}

  .about-section {
    height: 306px;
    top: 632px;
    padding: 180px 250px 180px 250px;
    gap: 32px;
    &-subtitle {
      text-align: center;
    }
  }
