<div class="d-flex flex-row align-items-center">
  <img src="assets/home-port-image.png" class="home-image">
  <div class="d-flex flex-column gap-2 home-sizing">
    <div class="home-title mb-2">
      Seaport Engineering Votre Partenaire de Confiance !
    </div>
    <div class="home-subtitle mb-3">
      Seaport Engineering est un bureau d'étude technique spécialisé en Maitrise d'Œuvre pour des projets d'aménagements portuaires, maritimes et fluviaux. Nous combinons expérience, réactivité et expertise pour réaliser vos projets avec succès.
    </div>
    <button type="submit" class="home-button">Nous contacter</button>
  </div>
</div>
