.home-image {
  width: 660px;
  height: 442px;
  top: 152px;
  left: 48px;
  border-radius: 8px;
}

.home-title {
   font-family: Lora;
   font-size: 46px;
   font-weight: 700;
}

.home-sizing {
  max-width: 660px;
  margin-left: 30px;
}

.home-subtitle {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
}

.home-button {
  width: 175px;
  height: 51px;
  gap: 10px;
  color: #FFFFFF;
  background-color: #216941;
}
