<div class=" homed-flex row align-items-center home-container">
    <div class="home-image">
<!--        <img src="../../assets/home-port-image.png" class="home-image">-->
    </div>
  <div class="d-flex flex-column gap-2 home-sizing position-absolute">
    <div class="home-title mb-2">
      Seaport Engineering Votre Partenaire de Confiance !
    </div>
    <div class="home-subtitle mb-3">
      Seaport Engineering est un bureau d'étude technique spécialisé en Maitrise d'Œuvre pour des projets d'aménagements portuaires, maritimes et fluviaux. Nous combinons expérience, réactivité et expertise pour réaliser vos projets avec succès.
    </div>
    <a class="home-button" href="#contact">Nous contacter</a>
  </div>
</div>
<div class="d-flex flex-column align-items-center justify-content-center about-section">
  <div class="home-title mb-2">
    À Propos de Seaport Engineering    </div>
  <div class="home-subtitle-about about-section-subtitle home-subtitle mb-3">
    Implantée à Bordeaux depuis 2016, SEAPORT Engineering (ex-SEAMAR Engineering) offre une expertise complète sur les projets d'aménagement portuaires, tant en France qu'à l'international. Notre structure agile, nous permet d'accompagner nos Clients à toutes les étapes de leurs projets, quelque soit sa taille.
  </div>
</div>
